@model SPD.MVC.PortalWeb.ViewModels.PreConsultaViewModel

<div class="row alert alert-info" style="margin-left:5px; margin-right:6px;">
    <h4><span class="glyphicon glyphicon-filter"></span> <b>Filtros </b></h4>
    <div class="row" id="linha_ordenada"></div>
    <div class="row" id="linha">

        <div class="row">

            <div class="form-group col-md-4" id="divDataOper" style="padding-left:32px;">
                @Html.Label("Data")
                <div class="input-group input-daterange col-md-12">
                    @Html.EditorFor(model => model.DataDe, new { htmlAttributes = new { @Value = Model.DataDe_Filtro, @class = "form-control data ", @name = "start", @style = "width: 160px" } })
                </div>
            </div>

            <div class="form-group col-md-3" id="divNome" style="padding-left:32px;">
                @Html.Label("Nome do Paciente")
                @Html.EditorFor(model => model.Paciente_string, new { htmlAttributes = new { @Value = Model.Paciente_string, @class = "form-control ", @style = "width: 250px" } })
            </div>

            <div class="form-group col-md-2" id="divEmail">
                @Html.Label("Autorizado")
                @Html.DropDownListFor(model => model.Autorizado_string,
                                         new SelectList(new List<Object>{
                                              new { value = "" , text = "", Selected=true  },
                                              new { value = "true" , text = "Sim"  },
                                              new { value = "false" , text = "Não" }
                                                         }, "value", "text", string.IsNullOrWhiteSpace(Model.Autorizado_string) ? "" : Model.Autorizado_string),
                                         new { @class = "form-control ", @style = "width: 110px" })
            </div>

            <div class="form-group col-md-2" id="divEmail">
                @Html.Label("Convênio")
                @Html.EditorFor(model => model.Convenio, new { htmlAttributes = new { @Value = Model.Convenio, @class = "form-control", @style = "width: 130px" } })
            </div>

        </div>

        <div class="row">


            <div class="form-group col-md-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 col-md-offset-4 text-center" id="divAcoes">
            <br />
            <button type="button" ID="btnFiltrar" class="btn btn-primary" name="btnFiltrar" value="btnFiltrar" onclick="aplicarFiltro();">Filtrar</button>
            <button type="button" id="btnLimpar" name="btnLimparFiltro" value="btnLimparFiltro" class="btn btn-default" onclick="limpar_Filtros(); aplicarFiltro();">Limpar Filtros</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    function aplicarFiltro() {
        $('#frmPrincipal').submit();
    }

    function limpar_Filtros() {

        $("#Paciente_string").val("");
        $("#Convenio").val("");
        $("#Autorizado_string").val("");
        $("#DataDe").val("");
    }

</script>


