@model SPD.MVC.PortalWeb.ViewModels.PreConsultaViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<h2>Iniciar Pré Consulta </h2>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Maior_Idade)
    @Html.HiddenFor(model => model.Idade)

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <b> Paciente</b></div>
                <div class="panel-body">
                    <div id="dadosPessoais">

                        <div class="row">

                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Paciente_string, Model.ListNomePaciente as SelectList,
                           "", new { @class = "form-control", @style = "width:260px" })
                            </div>

                        </div>

                        <br />

                        <div class="row">

                            <div class="col-md-4" id="idTpPaciente" hidden="hidden">

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>@Html.CheckBoxFor(model => model.particular, new { @class = "form-control checkbox", @onchange = "ValidaCheckBox(this,1);" })</td>
                                            <td>&nbsp; @Html.Label("Particular ", htmlAttributes: new { @class = "control-label", @style = "font-size: 17px; padding-top:10px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.CheckBoxFor(model => model.Conveniado, new { @class = "form-control checkbox", @onchange = "ValidaCheckBox(this,2);" })</td>
                                            <td>&nbsp;@Html.Label("Conveniado ", htmlAttributes: new { @class = "control-label", @style = "font-size: 17px; padding-top:10px;" }) </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-4" id="idNomeConvenio" hidden="hidden">
                                @Html.Label("Nome do Convênio", htmlAttributes: new { @class = "control-label", @style = "font-weight: bold" })
                                @Html.EditorFor(model => model.Convenio, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            </div>

                            <div class="col-md-4" id="idNrCarterinha" hidden="hidden">
                                @Html.Label("Número da Carterinha", htmlAttributes: new { @class = "control-label", @style = "font-weight: bold" })
                                @Html.EditorFor(model => model.Numero_Carterinha, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            </div>

                        </div>

                        <br />

                        <div class="row" id="idIdade" hidden="hidden">

                            <div class="col-md-4">
                                @Html.Label("Idade: ", htmlAttributes: new { @name = "lblIdade", @id = "lblIdade", @class = "control-label", @style = "font-weight: bold;font-size: 17px;" }) &nbsp;&nbsp;
                                @Html.Label("IdadeValue", htmlAttributes: new { @id = "IdadeValue", @class = "control-label", @style = "font-size: 17px;" })
                            </div>

                            <div class="col-md-3" id="idNomeResponsavel" hidden="hidden">
                                @Html.Label("Nome do Responsável", htmlAttributes: new { @class = "control-label", @style = "font-weight: bold" })
                                @Html.EditorFor(model => model.Nome_Responsavel, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            </div>

                            <div class="col-md-3" id="idCpfResponsavel" hidden="hidden">
                                @Html.Label("CPF do Responsável", htmlAttributes: new { @class = "control-label", @style = "font-weight: bold" })
                                @Html.EditorFor(model => model.Cpf_Responsavel, new { htmlAttributes = new { @class = "form-controlcpf", @style = "width: 130px", @maxLength = "15", @onkeypress = "return SomenteNumero(event)" } })
                            </div>

                            <div class="col-md-6" id="idBtnAutorizacao" hidden="hidden">
                                <input type="button" id="idAutorizarConsulta" value="Autorizar Consulta" class="btn btn-primary" onclick="javascript: AutorizarConsulta();" />
                            </div>

                        </div>

                        <br />
                        <br />

                        <div id="divTermo" hidden="hidden">

                            <div class="termo">

                                <br />

                                <p>
                                    <h6>
                                        <b>
                                            CONSENTIMENTO PARA AUTORIZAÇÃO DO TRATAMENTO RECOMENDADO, PREPARO<br />
                                            PSICOLÓGICO E ESTABILIZAÇÃO PROTETORA DO PACIENTE INFANTIL<br />
                                        </b>
                                    </h6>

                                    <br />

                                    O controle de voz é um dos métodos utilizados para o preparo psicológico de pacientes infantis, e tem
                                    como objetivo chamar a atenção da criança para que esta possa ouvir o profissional, e a partir daí dar
                                    prosseguimento ao condicionamento do paciente. Esta técnica esta indicada para crianças com idade
                                    suficiente de compreensão, e com ausência de problemas mentais.<br />
                                    A estabilização protetora parcial ou completa da criança é indicada para proteger o paciente e equipe
                                    de trabalho contra injurias durante o atendimento clinico. O objetivo da contenção é evitar ou reduzir a
                                    ocorrência de movimentos bruscos pela criança, que será executada pelo profissional responsável e
                                    auxiliado pela equipe e pais/responsáveis. Esse método está indicado para pacientes que necessitem
                                    diagnóstico ou tratamento e são incapazes de cooperar por falta de maturidade, problemas fisícos ou
                                    mentais e quando outras técnicas de controle de comportamento se mostram insuficientes. A estabilização
                                    protetora será utilizada apenas em casos absolutamente necessários.<br />
                                    As técnicas´ de controle de voz e estabilização protetora serão realizadas pelo profissional em casos
                                    absolutamente necessários e quando outras técnicas de preparo psicológico se mostrarem insuficientes.<br />

                                    Após ter sido esclarecido a respeito dos objetivos e indicações da estabilização protetora e o controle
                                    de voz, autorizo sua execução em meu/minha filho(a)/neto(a) conforme as necessidades de tratamento.
                                    Sendo o paciente incapaz de consentir legalmente, pois apresenta idade menor de 18 anos, eu autorizo
                                    para o mesmo.<br /><br />

                                    São José dos Campos, @DateTime.Now.Day.ToString() de @ViewBag.Mes @DateTime.Now.Year.ToString() <br /><br />

                                    _______________________________________
                                    (Assinatura)
                                </p>

                            </div>

                            <div class="buttons">

                                <button type="button" class="btn btn-success" onclick="SalvarAutorizacao();">Salvar Autorização</button>

                                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnFecharModal">Cancelar</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{

    @Scripts.Render("~/bundles/boostrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/site")

    <script src="~/Scripts/PreConsulta/PreConsultaNew.js"></script>
}
