@model SPD.MVC.PortalWeb.ViewModels.AgendaViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var controller = ViewContext.Controller as SPD.MVC.PortalWeb.Controllers.AgendaController; }

<h2>Agendar Novo Horário</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="text" id="id_ac" hidden="hidden" />


    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Data", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class=" input-daterange col-md-10">
                @Html.EditorFor(model => model.DataDe, new { htmlAttributes = new { @class = "form-control data ", @style = "width: 200px", @onchange = "HabilitaCampos()" } })
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.Label("Dentista", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Dentista_string, controller.ListNomeDentistas() as SelectList, "", new { @disabled = "disabled", @class = "form-control ", @style = "width:200px", @onchange = "HabilitaHorario()" })
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.Label("Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="nav">
                @Html.EditorFor(model => model.Nome_Paciente, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control", @style = "width:200px" } })
                <ul id="selectedValue"></ul>
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.Label("Celular", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="nav">
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control celular", @maxLength = "14", @style = "width:200px", @onkeypress = "return SomenteNumero(event)" } })
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.Label("Horário", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Hora_Inicio, new SelectList(new List<Object> { }), "", new { @disabled = "@disabled", @class = "form-control ", @style = "width:200px" })
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.Label("Duração", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tempo_Consulta,
                                               new SelectList ( new List<Object>
                                               {
                                                   new { value = "", text = "", Selected = true},
                                                   new { value = "15", text = "15 minutos"},
                                                   new { value = "30", text = "30 minutos"},
                                                   new { value = "45", text = "45 minutos"},
                                                   new { value = "60", text = "1 hora"},
                                                   new { value = "75", text = "1 hora e 15 minutos"},
                                                   new { value = "90", text = "1 hora e 30 minutos"},
                                                   new { value = "105", text = "1 hora e 45 minutos"},
                                                   new { value = "120", text = "2 horas"},
                                                   new { value = "135", text = "2 horas e 15 minutos"},
                                                   new { value = "150", text = "2 horas e 30 minutos"},
                                                   new { value = "165", text = "2 horas e 45 minutos"},
                                                   new { value = "180", text = "3 horas"},
                                                   new { value = "195", text = "3 horas e 15 minutos"},
                                                   new { value = "210", text = "3 horas e 30 minutos"},
                                                   new { value = "225", text = "3 horas e 45 minutos"},
                                                   new { value = "240", text = "4 horas"}
                                               }, "value","text", ""),
                                           new { @disabled = "disabled", @class = "form-control ", @style = "width:200px" } )

            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" id="btnSalvar" class="btn btn-success" disabled="disabled" />
                <input type="button" value="Cancelar" class="btn btn-danger" onclick="Render('Agenda','List')" />
            </div>
        </div>

    </div>

}

<style>
    select {
        width: 200px;
    }

    a:link, a:active, a:visited, a:hover {
        text-decoration: none;
        color: black;
    }
    /*--- DROPDOWN ---*/
    #nav ul {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
</style>

@section Scripts{

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/site")


    <script src="~/Scripts/Agenda/AgendaNew.js"></script>

}