
@using PagedList.Mvc;

@model SPD.MVC.PortalWeb.ViewModels.HistoricoConsultaViewModel


<style>
    .sorting {
        color: #428bca;
        font: bold;
    }

    .sorting_asc {
        color: #428bca;
        font: bold;
    }

    .sorting_desc {
        color: #428bca;
        font: bold;
    }
</style>

<table id="idGrid" class="table table-hover table-condensed text-left" cellspacing="0" style="border-collapse:collapse;border:0px">
    <thead>
        <tr>
            <th scope="col"> Data da Consulta</th>
            <th scope="col"> Paciente</th>
            <th scope="col"> Dentista</th>
            <th scope="col"> Descrição</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListHistoricoConsulta.Count <= 0)
        {
            <tr>
                <td colspan="4" align="center"> Nenhum registro encontrado.</td>
            </tr>
        }

        @foreach (var item in Model.ListHistoricoConsulta)
        {
            <tr>
                <td> @item.DataConsulta</td>
                <td> @item.Paciente</td>
                <td> @item.Dentista</td>
                <td> @item.Descricao</td>

            </tr>
        }
    </tbody>
</table>

<br />
<div id='Paging' style="text-align:left">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model.ListHistoricoConsulta, page => Url.Action("List", new
{
    page,
    dt_init = Model.DataDe.ToString(),
    dt_end = Model.DataAte.ToString(),
    dentista = Model.Dentista,
    paciente = Model.Paciente
}))
</div>

