@model SPD.MVC.PortalWeb.ViewModels.HistoricoConsultaViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Histórico de Consultas</h2>

<hr />

@using (Html.BeginForm(Html.BeginForm("List", "HistoricoConsulta", FormMethod.Post, new { name = "frmPrincipal", id = "frmPrincipal" })))
{
    @Html.Partial("_Filtros", Model)

    <br />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FieldSort)
    @Html.HiddenFor(model => model.PageNumber)
    @Html.HiddenFor(model => model.PageCount)

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_List", Model)
        </div>
    </div>
    <br />
    <hr />

}

<style>

    .paginate_button.first {
        display: none !important;
    }

    .paginate_button.last {
        display: none !important;
    }

    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>


@section Scripts{


    <script src="~/Scripts/HistoricoConsulta/Historico.js"></script>
}
