@model SPD.MVC.PortalWeb.ViewModels.DentistaViewModel

@{ var controller = ViewContext.Controller as SPD.MVC.PortalWeb.Controllers.DentistaController; }

<div class="row alert alert-info" style="margin-left:5px; margin-right:6px;">
    <h4><span class="glyphicon glyphicon-filter"></span> <b>Filtros </b></h4>
    <div class="row" id="linha_ordenada"></div>
    <div class="row" id="linha">

        <div class="row">

            <div class="form-group col-md-3" id="divNome" style="padding-left:32px;">
                @Html.Label("Nome")
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @Value = Model.Nome, @class = "form-control ", @style = "width: 250px" } })
            </div>

            <div class="form-group col-md-2" id="divEmail">
                @Html.Label("CRO")
                @Html.EditorFor(model => model.Cro, new { htmlAttributes = new { @Value = Model.Cro, @class = "form-control", @style = "width: 130px" } })
            </div>

            <div class="form-group col-md-2" id="divEmail">
                @Html.Label("Usuário")
                @Html.DropDownListFor(model=>model.Usuario_string, controller.ListUsuarios() as SelectList,
                                             string.IsNullOrWhiteSpace(Model.Usuario_string)? "": Model.Usuario_string,
                                             new { @class = "form-control " })
            </div>

            <div class="form-group col-md-3" id="divDataOper" >
                @Html.Label("Data de Criação")
                <div class="input-group input-daterange col-md-12">
                    @Html.EditorFor(model => model.DataDe, new { htmlAttributes = new { @Value = Model.DataDe_Filtro, @class = "form-control data ", @name = "start", @style = "width: 160px" } })
                    <span class="input-group-addon" style="vertical-align: top; height: 18px; font-size:small"><b>até</b></span>
                    @Html.EditorFor(model => model.DataAte, new { htmlAttributes = new { @Value = Model.DataAte_Filtro, @class = "form-control data ", @name = "end", @style = "width: 160px" } })
                </div>
            </div>

        </div>

        <div class="row">


            <div class="form-group col-md-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 col-md-offset-4 text-center" id="divAcoes">
            <br />
            <button type="button" ID="btnFiltrar" class="btn btn-primary" name="btnFiltrar" value="btnFiltrar" onclick="aplicarFiltro();">Filtrar</button>
            <button type="button" id="btnLimpar" name="btnLimparFiltro" value="btnLimparFiltro" class="btn btn-default" onclick="limpar_Filtros(); aplicarFiltro();">Limpar Filtros</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    function aplicarFiltro() {
        $('#frmPrincipal').submit();
    }

    function limpar_Filtros() {

        $("#Nome").val("");
        $("#Cro").val("");
        $("#Usuario_string").val("");
        $("#DataDe").val("");
        $("#DataAte").val("");
    }

</script>

