@model SPD.MVC.PortalWeb.ViewModels.DentistaViewModel

@{ var controller = ViewContext.Controller as SPD.MVC.PortalWeb.Controllers.DentistaController; }

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Dentista</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @style = "width:260px" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CRO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cro, new { htmlAttributes = new { @class = "form-control", @style = "width:260px" } })
                @Html.ValidationMessageFor(model => model.Cro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuário", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Usuario_string, controller.ListUsuarios() as SelectList, Model.Usuario_string, new { @class = "form-control ", @style = "width:260px" })
                @Html.ValidationMessageFor(model => model.Usuario_string, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <input type="button" value="Cancelar" class="btn btn-danger" onclick="Render('Dentista','List')" />
            </div>
        </div>

    </div>

}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")

    <script src="~/Scripts/Dentista/DentistaEdit.js"></script>
}

